<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>detailss</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <style>
        table {
        border-collapse: collapse;
        width: auto;
        border-color: black;
        }
        
        th, td {
        text-align: left;
        padding: 8px;
        }
        
        tr:nth-child(even){background-color: #f2f2f2}
        
        th {
        background-color: #4CAF50;
        color: white;
        }
        </style> -->

</head>

<body class="container-sm">

    <div class="m-4 p-2">

        <div><b>Name : </b><span>{{data.name}}</span></div>
        <div><b>Department : </b><span>{{deportment}}</span></div>
    </div>
      
    
    <table id="myTableId" class="table border border-5 m-4 p-4">
        <thead class="bg-tablehead" style="background-color: rgb(127, 211, 223);">

            <tr>
                <th>Subject</th>
                <th>Theory Exam (35)</th>
                <th>Assignment (15)</th>
                <th>Late Submission Penalty Mark (50)</th>
                <th> Total Marks (50)</th>
            </tr>
        </thead>
        <tr>
            <th>Educational Psychology</th>
            <td>{{data.s1T}}</td>
            <td>{{data.s1A}}</td>
            <td>{{data.s1LS}}</td>
            <td>{{data.s1Total}}</td>
        </tr>
        <tr>
            <th>Contemporay India and Education</th>
            <td>{{data.s2T}}</td>
            <td>{{data.s2A}}</td>
            <td>{{data.s2LS}}</td>
            <td>{{data.s2Total}}</td>
        </tr>
        <tr>
            <th>Teaching and Learing</th>
            <td>{{data.s3T}}</td>
            <td>{{data.s3A}}</td>
            <td>{{data.s3LS}}</td>
            <td>{{data.s3Total}}</td>
        </tr>
        <tr>
            <th>Language across the Curriculum</th>
            <td>{{data.s4T}}</td>
            <td>{{data.s4A}}</td>
            <td>{{data.s4LS}}</td>
            <td>{{data.s4Total}}</td>
        </tr>
        <tr>
            <th>{{pedagogy}}</th>
            <td>{{data.s5T}}</td>
            <td>{{data.s5A}}</td>
            <td>{{data.s5LS}}</td>
            <td>{{data.s5Total}}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{data.total}}</b> </td>
        </tr>
        <tr>
            <th>Percentage</th>
            <td></td>
            <td></td>
            <td></td>
            <td> <b>{{data.average}}</b></td>
        </tr>
    </table>

    {{dob}}
</body>

</html>